@model IEnumerable<CRUDEmployee.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<p>
    <button class="btn btn-primary" id="createNewBtn" onclick="partialView()">Create New</button>
</p>

<div id="partialViewContainer"></div>




@*  <p>
    <button class="btn btn-primary" onclick="showCreateModal()">Create New</button>
</p>
 *@




 <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    <button class="btn btn-success" onclick="showEditModal(@item.Id)">Edit</button>
                    <button class="btn btn-danger" onclick="deleteEmployee(@item.Id)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="createEditModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create/Edit Employee</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div id="createEditForm"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function partialView() {
            document.getElementById('createNewBtn').addEventListener('click', function () {
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '@Url.Action("CreatePartial", "Employees")', true);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        document.getElementById('partialViewContainer').insertAdjacentHTML('beforeend', xhr.responseText);
                    }
                };
                xhr.send();
            });
        }
        function showCreateModal() {
            $.get('@Url.Action("CreateOrEdit")', function(data) {
                $('#createEditForm').html(data);
                $('#createEditModal').modal('show');
            });
        }

        function showEditModal(id) {
            $.get('@Url.Action("CreateOrEdit", new { id = "__id__" })'.replace("__id__", id), function(data) {
                $('#createEditForm').html(data);
                $('#createEditModal').modal('show');
            });
        }

        function deleteEmployee(id) {
            if (confirm('Are you sure you want to delete this employee?')) {
                $.post('@Url.Action("Delete", new { id = "__id__" })'.replace("__id__", id), function(data) {
                    location.reload();
                });
            }
        }
    </script>
  }
